body {
    background-color: #f5f5f5 !important;
}
/* Ensure the H1 is centered and appropriately sized */
h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

/* Status bar style for MQTT/Wi-Fi/IP */
#mqtt-status {
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 20px;
    color: #333;
    text-align: right;
    z-index: 1000;
}
/* Adjust for even smaller screens (e.g., phones) */
@media screen and (max-width: 480px) {

    h1 {
        font-size: 30px;
        color:darkblue;
    }

    #auto-toggle-btn{
        margin-top: 30px;
        margin-bottom: 5px;
    }

    #basking-gauge,
    #water-gauge {
        width: 100%;
        height: 220px;
    }
    
    #basking-gauge{
        margin-top: 55px;

    }

    #water-gauge {
        margin-bottom: 22px;
    }

     #mqtt-status {
        font-size: 11px;
        right: 10px;
        top: 50px;
    }

    #ligh-btn{
        margin-left: 40px;
    }

    #feed-btn{
        margin-right: 40px;
    }

    #light-btn,
    #feed-btn {
        
        height: 48px;

    }
}
